# Default ignored files
/.idea.fortune-fountain-g/.idea/workspace.xml

# Should be ignored according to this comment: https://rider-support.jetbrains.com/hc/en-us/community/posts/115000661950-A-lot-of-files-in-contentModel-xml
contentModel.xml